# Grundgerüst Leistungsausweis
Dieses Notebook soll euch als Grundgerüst für euren Leistungsnachweis dienen. Es soll euch eine Idee/ Hilfestellung bieten, wie man einen neuen Datensatz, basierend auf einer Fragestellung, strukturiert analysieren und interpretieren kann. Wie besagt, dient das Notebook als Hilfestellung, ist jedoch keinenfalls vollständig ausgeschöpft. In diesem Sinne dürft ihr auch gerne Sachen miteinbeziehen, welche hier nicht genannt werden. 

-> Bitte schreibt die Antwort zu den jeweiligen Punkten an oberster Stelle unterhalb der Titel (so wie dies auch im Leistungsnachweisbeispiel gemacht wurde).


## Struktur
1. Fragestellung(en) und Datenbeschaffung
2. Daten laden
3. Daten vorbereiten
4. Statistik der Rohdaten (Generell im Longformat)
5. Analyse der Daten

**Wichtig:** Alle graphischen Darstellungen sollten mindestens *Titel, Ticks- und Achsenbeschriftung* beinhalten (Siehe plots im Leistungsnachweisbeispiel)

---

## 1. Fragestellung(en) und Datenbeschaffung
### 1.1 Titel: 
- "Gesundheitskosten im Vergleich"
### 1.2 Fragestellung:
- "  1. Gibt es eine inverse Beziehung zwischen öffentlichen Ausgaben und Out-of-Pocket-Ausgaben? "
- " 2. In welchen Ländern gibt es ein Gleichgewicht oder extreme Unterschiede? "   
### 1.3 Datenquelle(n):
Beispiele für mögliche Datenquellen:
- https://ourworldindata.org/financing-healthcare

### 1.4 Daten beschaffen und laden

In [1]:
# lade deine Bibliotheken -> Pandas, Seaborn, Matplotlib sind die wichtigsten für diese Aufgaben

import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [22]:
df1 = pd.read_csv("public-health-expenditure-share-gdp.csv", skiprows=1, 
                 names=["Land", "Kürzel", "Jahr", "öffentliche Gesundheitsausgaben"])
df1.drop("Kürzel", axis=1, inplace=True)
df1 = df1[~((df1["Jahr"] >= 1880) & (df1["Jahr"] <= 1999))]
df1.head()

      Land  Jahr  öffentliche Gesundheitsausgaben
0  Albania  2010                            2.442
1  Albania  2011                            2.387
2  Albania  2012                            2.474
3  Albania  2013                            2.605
4  Albania  2014                            2.617

In [21]:
df2 = pd.read_csv("share-of-out-of-pocket-expenditure-on-healthcare.csv", skiprows=1, 
                 names=["Land", "Code", "Jahr", "Selbstgetragene Gesundheitsausgaben"])
df2.drop("Code", axis=1, inplace=True)
df2.head()

          Land  Jahr  Selbstgetragene Gesundheitsausgaben
0  Afghanistan  2002                            85.375600
1  Afghanistan  2003                            86.069190
2  Afghanistan  2004                            84.527590
3  Afghanistan  2005                            78.970085
4  Afghanistan  2006                            76.824974

## 2. Daten vorbereiten 
- Welches Format hat mein Datensatz bzw. wie sind meine Kolumnen strukturiert?
- Welches Format kann ich für welche Teilschritte verwenden (wann soll ich pivot bzw. wide format verwenden)?
- Welche Datentypen kommen in meinem Datensatz vor?

In [23]:
df1_pivot = df1.pivot(index="Land", columns="Jahr", values="öffentliche Gesundheitsausgaben")
df1_pivot.head()

Jahr,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Land,,,,,,,,,,,,,,,,,,,,,
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.474,2.605,2.617,2.755,2.842,2.762,2.878,NaN,NaN,NaN
Argentina,4.499,4.594,4.034,3.774,3.746,3.915,4.019,4.257,4.509,5.672,...,6.144,6.264,6.361,6.853,5.619,6.644,5.965,5.954,NaN,NaN
Australia,5.197,5.206,5.406,5.364,5.529,5.454,5.452,5.585,5.695,5.926,...,5.859,5.685,6.658,6.985,6.942,6.991,7.009,7.361,7.612,NaN
Austria,6.952,6.953,7.027,7.112,7.125,7.122,7.091,7.089,7.290,7.680,...,7.617,7.612,7.673,7.678,7.657,7.686,7.724,7.865,8.772,9.555
Belgium,5.968,6.146,6.139,6.798,7.001,6.904,6.814,6.782,7.273,7.879,...,8.033,8.040,8.079,8.265,8.305,8.304,8.337,8.107,8.491,NaN

## 3. Statistik der Rohdaten (Analyse im Long-Format)
- Ist meine Variable kontinuierlich oder diskret? Falls diskret, wieviele einzigartige Klassen gibt es? Wieviele Datenpunkte pro Klasse sind vorhanden?
- Anzahl Datenpunkte (Beschreibend und Graphische Darstellung)
    - Wieviele Datenpunkte sind für die bestimmten Variabeln vorhanden?
    - Wo fehlen Datenpunkte?
- Wie ist die Verteilung der zu untersuchenden Variabel(n) (Histogram, Boxplot, Säulendiagram)
- Vermutest du Zusammenhänge zwischen zwei Variabeln (Streuungsdiagramm, Korrelationsmatrix)

*Notiz: Zu jeder Kolumne sollte generell eine Aussage möglich sein.*

## 4. Analyse 

### Vorgehen
- Spezifische Untersuchung der Fragestellung (Berechnungen)
- Visualisieren der Resultate: Verwendet Achsenbeschriftung und überlegt euch, welche Art von Darstellung sinnvoll ist (Kuchen-, Säulen, Liniendiagramm; 2 y-Achsen?)
- Beschreiben der Beobachtungen
- Interpretation der Resultate (Hypothesen zu den Resultaten)
- Untermauern der Interpretation mittels Hinweise zur Literatur (Mögliche Zusammenhänge aufzeigen).