In [8]:
import pandas as pd
from matplotlib import pyplot as plt

In [ ]:
df = pd.read_csv("total-healthcare-expenditure-gdp/total-healthcare-expenditure-gdp.csv", skiprows=1, 
                 names=["Gebiet", "Code", "Jahr", "total-healthcare-expenditure-gdp"])
df.head()

        Gebiet Code  Jahr  total-healthcare-expenditure-gdp
0  Afghanistan  AFG  2002                              9.44
1  Afghanistan  AFG  2003                              8.94
2  Afghanistan  AFG  2004                              9.81
3  Afghanistan  AFG  2005                              9.95
4  Afghanistan  AFG  2006                             10.62

In [28]:
df_pivot = df.pivot(index="Gebiet", columns="Jahr", values="total-healthcare-expenditure-gdp")
df_pivot.head()

Jahr,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Gebiet,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,9.44,8.94,9.81,9.95,10.62,9.90,10.26,9.82,...,7.90,8.81,9.53,10.11,11.82,12.62,14.21,14.83,15.53,21.83
Africa (WHO),4.37,4.59,4.73,4.91,5.10,5.09,5.10,5.00,4.94,5.30,...,5.10,5.30,5.46,5.50,5.50,5.56,5.34,5.32,5.91,5.76
Albania,5.94,5.93,5.66,5.91,5.89,5.73,5.63,5.93,5.51,5.83,...,6.16,6.28,6.43,6.46,6.73,6.58,6.67,6.86,7.52,7.27
Algeria,3.49,3.84,3.73,3.60,3.54,3.24,3.36,3.82,4.20,5.36,...,6.00,6.04,6.55,6.96,6.59,6.53,6.39,5.87,6.14,5.53
Americas (WHO),5.76,5.83,5.96,5.99,5.96,6.03,6.03,6.21,6.34,6.72,...,6.67,6.68,6.75,6.95,7.00,6.98,6.92,7.02,7.85,7.81

In [ ]:
nCountries = len(df["Gebiet"].unique())

print("Anzahl Gebiete: ", nCountries)

Anzahl LÃ¤nder:  199